@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif !important;
  background-color: #fcfcfc;
}
.custom-ant-checkbox .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #8e44ad; /* Checked background */
  border-color: #8e44ad;     /* Checked border */
}

.custom-ant-checkbox .ant-checkbox-inner {
  border-color: #8e44ad; /* Unchecked border */
}